body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-color: rgb(255, 255, 255);
}
:root {
	--lg-color: linear-gradient(to right, blue, grey);
}

#e {
	text-align: center;
	font-weight: 600;
	color: rgb(156, 235, 253);
	background-color: rgb(1, 235, 203);
	justify-content: center;
}
